@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-rendering: optimizeLegibility;
}

/* Header */

header{
    width: 100%;
    height: 10%;
    background-color: white;
    box-shadow: 0 0 40px 0 rgb(134 134 134/25%);
    padding-right: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

li{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
    font-size: 17px;
    color: gray;
    transition: 0.3s;
}

li:hover{
    color: lightgray;
}

a{
    color: inherit;
    text-decoration-line: none;
}

.btn-contacto{
    background-color:#4ff4e3;
    border-radius: 1em;
    font-size: 17px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-contacto:hover{
    background-color: rgb(127, 250, 238);
    color: rgb(199, 198, 198);
}

#section{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 400px;
}

.caja-texto-about{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 300px;
}

.btn-loquehago{
    background-color:#fe4b33;
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-loquehago:hover{
    background-color: #fd7361;
}

.hola{
    color: #0b379b;
    font-size: 50px;
    font-weight: 900;
}

h1{
    color: #0b379b;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
}

.texto-corrido{
    color: gray;
    font-family:'Montserrat';
    font-size: 23px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2{
    color: #0b379b;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 20px;
}


.contenedor-conocimientos{
    height: 900px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-logos{
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logos{
    width: 260px;
    height: 230px;
    background-color: white;
    border-radius: 0.5em;
    margin: 10px;
    padding: 10px;
    color:#0b379b;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
}

.logos:hover{
    border: solid 4px #13d6c3;
    color: #13d6c3;
    box-shadow: 0 10px 10px 0 rgb(134 134 134 / 50%);
}

.contenedor-frase{
    background-color: #13d6c3;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frase{
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 40px;
}

.autor{
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-top: 15px;
}

.contenedor-proyectos{
    height: 1500px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-imagenes{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos{
    width: 350px;
    height: 320px;
    background-color: white;
    border-radius: 0.5em;
    margin: 10px;
    padding: 10px;
    color:#0b379b;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
}

.contenedor-contacto{
    height: 1000;
    background-color:#13d6c3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-informacion{
    width: 1100px;
    height: 600px;
    border-radius: 1em;
    background-color: white;
    margin: 50px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
}

.contactame{
    width: 350px;
    margin: 40px;
    padding-left: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

.escribime{
    width: 400px;
    margin: 40px;
    padding-left: 60px;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: flex-start;
}

.form-nom-ape{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: darkgoldenrod;
}

.form-mail{
    width: 350px;
    margin-bottom: 20px;
    background-color: cyan;
}

.form-msj{
    width: 350px;
    background-color: crimson;
}

.contenedor-footer{
    background-color:rgb(242, 242, 242);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}