@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: Montserrat;
}

/* BARRA NAV */

header{
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 40px 0 rgb(134 134 134/25%);
    padding-right: 9em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.barra-nav{
    display: inline;
    text-align: center;
    margin: 0 50px 0 0;
    font-size: 1rem;
    color: rgb(69, 69, 69);
    transition: 0.3s;
}

.barra-nav:hover{
    color: lightgray;
}

.barra-nav:active{
    color: #0b379b;
    font-weight: 400;
}

a{
    color: inherit;
    text-decoration-line: none;
}

.btn-contacto{
    background-color:#4ff4e3;
    color: white;
    border-radius: 1em;
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-contacto:hover{
    background-color: white;
    color: #4ff4e3;
    border: solid 2.5px #4ff4e3;
}

.btn-contacto:active{
    background-color: white;
    color: #0b379b;
    border: solid 2.5px #0b379b;
}

/* ----- HOLA ----- */

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-about{
    display: flex;
    justify-content: space-around;
    padding-top: 20em;
    margin-bottom: 10em;
    align-items: center;
    width: 80%;
    height: 600px;
}

.caja-texto-about{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 300px;
}

.btn-loquehago{
    background-color:#fe4b33;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    transition: 0.3s;
}

.btn-loquehago:hover{
    background-color: white;
    color: #fd7361;
    border: solid 3px #fd7361;
}

.btn-loquehago:active{
    background-color: white;
    color: #0b379b;
    border: solid 3px #0b379b;
}

.img-about{
    height: 400px;
}

.hola{
    color: #0b379b;
    font-size: 3rem;
    font-weight: 900;
}

h1{
    color: #0b379b;
    font-weight: 900;
    font-size: 3.5rem;
}

.texto-corrido{
    color: rgb(69, 69, 69);
    font-size: 1.3rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.tit-align{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    color: #0b379b;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

/* ----- CONOCIMIENTOS ----- */

.contenedor-conocimientos{
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding-top:10em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-logos{
    margin-top: 1em;
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logos{ 
/* CONSULTAR POR PORCENTAJE DE LOS CONTENEDORES */
    width: 260px;
    height: 230px;
    background-color: white;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    color:#0b379b;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
}

.logos:hover{
    border: solid 4px #13d6c3;
    color: #13d6c3;
    box-shadow: 0 10px 10px 0 rgb(134 134 134 / 50%);
}

/* ----- CITA ----- */

.contenedor-cita{
    background-color: #13d6c3;
    width: 100%;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-cita{
    color: white;
    font-size: 3rem;
}

.cita{
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 1.5em 0 1.5em 0;
}

.autor{
    font-weight: 800;
    font-size: 2rem;
    color: white;
}

/* ----- PROYECTOS ----- */

.contenedor-proyectos{
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-imagenes{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos{ /* CONSULTAR POR PORCENTAJE DE LOS CONTENEDORES */
    width: 350px;
    height: 320px;
    background-color: white;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    color:#0b379b;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;
}

.proyectos:hover{
    border: solid 4px #fe4b33;
    color: #fe4b33;
    box-shadow: 0 10px 10px 0 rgb(134 134 134 / 50%);
}

/* ----- CONTACTO ----- */

.contenedor-contacto{
    background-color:#13d6c3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6em;
    padding-top: 6em;
}

.contenedor-informacion{
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 1em;
    background-color: white;
    margin: 3em;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.contactame{
    width: 500px;
    margin: 2em;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacto{
    padding-bottom: 1.5em;
}

.ul-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5em;
}

.li-contacto{
    margin-bottom: 1.5em;
    font-size: 1rem;
}

.icon{
    margin: 0 20px 0 0;
    color: #fe4b33;
    font-size: 1.2rem;
    transition: 0.2s;
}

.icon:hover{
    color: lightgray;
}

/* ----- FORMULARIO ----- */

.escribime{
    width: 500px;
    margin: 2em;
    padding-left: 3em;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: flex-start;
}

.form-nom-ape{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-control{
    width: 400px;
    margin-bottom: 1.2em;
}

label{
    display: block;
    font-weight: 600;
}

input,
textarea{
border: 0;
border-radius: 1em;
background-color: #F2F2F2;
align-items: center;
font-size: 1rem;
padding: 1em 1em;
width: 100%;
outline: none;
}

/* ----- FOOTER ----- */

.barra-nav-footer{
    display: inline;
    text-align: center;
    font-size: 0.9rem;
    color: #13d6c3;
    transition: 0.3s;
}

.barra-nav-footer:hover{
    color: lightgray;
}

.barra-nav-footer:active{
    color: #0b379b;
}

.contenedor-footer{
    background-color:rgb(242, 242, 242);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-contacto-footer{
    display: flex;
    flex-direction: row;
    margin: 2.5em 0 3em 0;
}

.icon-foot{
    color: #0b379b;
    font-size: 2rem;
    transition: 0.3s;
}

.icon-foot:hover{
    color: lightgray;
}

.foot-margin{
    margin: 0 1em 0 0;
}


/* ----- MEDIA QUERIES ----- */

/* Header */

@media (max-width: 1100px){
    header{
    display: none;
    }

    .nav{
    display: none;
    }
}

/* About */

@media (max-width: 1100px){
    .contenedor-about {
        flex-direction: column;
        margin-top: 3.5em;
    }
    .hola{
        font-size: 2rem;
    }

    .caja-texto-about{
        align-items: center;
    }

    .texto-corrido{
        text-align: center;
        font-size: 1rem;
    }

    h1{
        font-size: 2.7rem;
    }

    .img-about{
        padding-top: 6em;
        margin-bottom: 8em;
    }
}

/* Textos */

@media (max-width: 1100px){
    .texto-corrido{
        padding-left: 1em;
        padding-right: 1em;
    }
}


/* Cita */

@media (max-width: 1100px){
    .cita{
        font-size: 1.3rem;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .autor{
        font-size: 1.5rem;
    }
}

/* Contacto */

@media (max-width: 1100px){
    .contenedor-informacion{
        flex-direction: column;
    }

    .contenedor-contacto{
        background-color:white;
    }

    .contactame{
        padding-left: 2.5em;
    }

    .contacto{
        padding-bottom: 1em;
    }
}

/* Footer */

@media (max-width: 1100px){
    .barra-nav-footer{
        display: none;
    }
    
}
